////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Std Class Overrides ////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// https://stackoverflow.com/a/58290951/11098871
// for viewport scrolling
// the root html element must be scrollable for js.window.scrollTo() to work.
html {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
}

body {
  width: 100%;
  height: auto;
}

a:link, a:visited {
  color: #FDF9EF;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Custom Classes /////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// fonts ///////////////////////////////////////////////////////////////////////////////////////////////////////////////
@font-face {
  font-family: WorkSans;
  src: url("../fonts/WorkSans-SemiBold.ttf") format("truetype");
}

@font-face {
  font-family: Imbue;
  src: url("../fonts/Imbue-Medium.ttf") format("truetype");
}

.has-font-1 {
  font-family: WorkSans, sans-serif;
  font-size: small;
}

.has-font-2 {
  font-family: Imbue, sans-serif;
  font-size: 2em;
}

.has-opacity {
  opacity: 75%;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// colors //////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-transparent-text {
  color: transparent;
}

.has-off-white {
  background-color: #FDF9EF;
}

.has-off-white-text {
  color: #FDF9EF;
}

.has-black {
  background-color: #241F20;
  color: #FDF9EF;
}

.has-black-text {
  color: #241F20;
}

.has-sky-blue {
  background-color: #3D92CA;
}

.has-sky-blue-text {
  color: #3D92CA;
}

.has-hyper-blue {
  background-color: #002BFF;
}

.has-ver-blue {
  background-color: #00F4EF;
}

.has-orange {
  background-color: #FF3C24;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// spacing /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-right {
  float: right !important;
}

.has-space-bottom-1 {
  padding-bottom: 20px
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// borders /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.has-border-1 {
  border-bottom: 1px solid #FDF9EF;
}

.has-border-2 {
  border: 1px dotted #4a4a4a;
  padding-top: 50px;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// buttons /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-button-1 {
  background-color: #241F20;
  border-color: #FDF9EF;
  color: #FDF9EF;
  padding: 7px 16px;
  text-align: center;;
  border-radius: 4px;
  transition-duration: 0.10s;
}

.is-button-1:hover {
  background-color: #FDF9EF;
  color: #241F20;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// images /////////////////////////////////////////////////////////////////////////////////////////////////////////////
.is-image-1 {
  width: 225px;
  height: 350px;
  margin-bottom: 20px;
  margin-right: 20px;
  float: left;
  box-shadow: 1px 1px 5px grey;
}

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Variable Overrides ///////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
// navbar
$navbar-item-img-max-height: 4.00rem;
$navbar-height: 4.00rem;

////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
/// Bulma Import ///////////////////////////////////////////////////////////////////////////////////////////////////////
////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
@import "node_modules/bulma/bulma";
